
ProductsMicroservice/.vs/

ProductsMicroservice/DataAccessLayer/bin/Debug/

ProductsMicroservice/DataAccessLayer/obj/

ProductsMicroservice/ProductsMicroservice/bin/Debug/

ProductsMicroservice/ProductsMicroservice/obj/

ProductsMicroservice/UnitTesting/bin/Debug/

ProductsMicroservice/UnitTesting/obj/

ProductsMicroservice/ProductsMicroservice/PresentationLayer.csproj.user

ProductsMicroservice/DataAccessLayer/bin/

ProductsMicroservice/ProductsMicroservice/bin/
